h1 {
    color: red;
}

.form-group {
    padding: 40px;
    margin: 20px;
    border: solid 2px #cccccc;
    border-radius: 20px;
}

.btn {
    padding: 5px 15px;
    margin-left: 20px;
    border-radius: 10px;
}

.item-block {
    padding: 40px;
    margin: 20px;
    border: solid 2px #cccccc;
    border-radius: 20px;
    text-align: center;
}
