.card{
    min-width: 18rem; 
    max-width: 18rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-group{
    margin-right: 20px;
}

.badge{
    margin-left:10px;
}

#notifications {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(231, 118, 118);
    color: white;
    border-radius: 5px;
    text-decoration: underline;
}